[user]
	name = 武田 憲太郎
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false
	quotepath = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictStyle = diff3
[push]
	default = current
[pull]
	ff = only
[init]
	defaultBranch = main
[fetch]
	prune = true
[advice]
	skippedCherryPicks = false
[credential]
	helper = osxkeychain
[include]
	path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
